@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.reveal body p { 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #000000;
}

.slide-background:first-child {
  background-image: url(assets/img/IMPRS_SHH_Summerschool_MasterBG.jpg);
}

.reveal .slide-background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    background-image: url(assets/img/IMPRS_SHH_Summerschool_MasterBG_Normal.jpg);
    background-size: contain;
}

.reveal  {
  data-background: url("assets/img/IMPRS_SHH_Summerschool_MasterBG_Normal.jpg");
}

.reveal h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: #22817f;
}

.reveal h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #22817f;
}

.reveal h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #22817f;
}

/* https://github.com/gnab/remark/issues/305#issuecomment-403309989 */
.reveal pre code {
    font-family: 'Fira Mono';
    border-left: 0.3em solid #ccc;
    padding: 0 15px;
    font-style: italic;
    color: #FFFFFF;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 18px;
    background-color: #9D8189;
}

.reveal code {
    font-family: 'Fira Mono';
    color: #FFFFFF;
    background-color: #9D8189;
}

.reveal .progress {
  background-color: #C0C0C0;
  height: 0.5%;
}

.reveal .progress span {
  background: #22817f;
}

.reveal section img { background:none; border:none; box-shadow:none; }
